fastapi
uvicorn[standard]
bcrypt
python-dotenv
langchain-openai
langchain-core
langchain-mcp-adapters
httpx
sympy
beautifulsoup4
duckduckgo-search
mcp
faiss-cpu
numpy
pypdf
fastembed
sqlalchemy[asyncio]
asyncpg
python-jose[cryptography]
python-multipart
